body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(to right, #5d26c1, #a17fe0, #59c173);
    background: linear-gradient(to right, #5d26c1, #a17fe0, #59c173);
    position: relative;
    overflow: hidden;
}

canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}

.new-year-message {
    color: #FFF;
    font-size: 4rem;
    text-align: center;
    z-index: 1001;
    font-family: 'Brush Script MT', cursive; /* Or any other festive font */
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}
